---
import Product from './product.astro'
import { products } from './data'
---

<article class='pt-8 lg:pt-16 bg-white dark:bg-gray-900'>
  <h1
    class='mx-auto max-w-screen-xl px-4 lg:px-6 xl:px-0 text-5xl font-extrabold dark:text-white'
  >
    Products
  </h1>

  {products.map((props) => <Product {...props} />)}
</article>
