---
import HomePage from '@src/components/pages/home/index.astro'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <script type='module' src='/script.ts' is:inline></script>
  </head>
  <body>
    <HomePage />
  </body>
</html>
