---
import HeadingOne from '@src/components/atoms/heading-one.astro'

interface IProps {
  title?: string
  isWithPaddingY?: boolean
}

const { title, isWithPaddingY } = Astro.props as IProps

const baseClassList = ['bg-white', 'dark:bg-gray-900']
---

<section
  class:list={isWithPaddingY
    ? [...baseClassList, 'py-8', 'lg:py-16']
    : baseClassList}
>
  <HeadingOne text={title} />

  <slot />
</section>
